.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  margin-bottom: -8.5rem; // Temp...
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: transparentize($color-purple-dark-alt, 0.2);
  color: $color-mint-light;
  padding: 2rem 1.5rem 1rem 1.5rem;
  box-shadow: $box-shadow-default;

  &__heading {
    color: inherit;
    font-size: 2rem;
    text-align: center;
  }

  &__content {
    margin-top: 1rem;
    flex-grow: 1;
  }

  &__link {
    @extend .a11y-link-wrap;

    color: $color-mint-light;
    text-decoration: none !important;
    text-align: center;

    &:hover,
    &:focus {
      .link-border::after {
        bottom: 100%;
      }

      .card__link-subtext {
        opacity: 1;
      }
    }
  }

  &__link-text {
    display: block;
    margin-top: 3rem;

    .link-border {
      position: relative;

      &::after {
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $color-mint-light;
        content: '';
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &__link-subtext {
    font-weight: normal;
    font-style: italic;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}
