// Skip to content link.
a[href="#content"] {
  @extend .btn;
  @extend .btn--purple;

  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 100;
}

// Used for accessible link wrapper. Requires a relative parent.
.a11y-link-wrap::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
}
