body {
  color: $color-black;
  font-family: $sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$medium-and-up} {
    font-size: 1.125rem;
  }
}
