.page-footer {
  padding: 1rem 0 4rem 0;
  background-color: $color-purple-dark;
  color: $color-white;

  .widget_text p {
    margin: 0;
  }

  h2 {
    font-weight: 400;
    font-size: 2.25rem;
  }

  a {
    color: inherit;
  }

  @media #{$medium-and-up} {
    .footer-center {
      text-align: left;
    }
  }
}

.page-footer .footer-copyright {
  margin-top: 4rem;
  padding: 0;
  height: auto;
  background-color: transparent;
  font-size: rem-calc(12);
  text-align: center;

  @media #{$medium-and-up} {
    text-align: left;
  }
}
