.page-footer {
  padding: 4rem 0;
  background-color: $color-purple-dark;
  color: $color-white;

  .widget_text p {
    margin: 0;
  }

  h2 {
    font-weight: 400;
    font-size: 2.25rem;
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .footer-right {
    text-align: left;
    text-transform: uppercase;
    font-size: rem-calc(12);
  }

  @media #{$medium-and-up} {
    .footer-center {
      text-align: left;
    }

    .footer-right {
      padding-left: 0;
    }
  }
}

// .page-footer .footer-copyright {
//   margin-top: 4rem;
//   padding: 0;
//   height: auto;
//   background-color: transparent;
//   font-size: rem-calc(12);
//   text-align: center;

//   @media #{$medium-and-up} {
//     text-align: left;
//   }
// }
